@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");

h1 {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.plain-ul {
  text-decoration: none;
  list-style: none;
  line-height: 2;
  padding: 0;
}
a {
  color: #89bcf3;
}

.logo {
  border: 1px solid silver;
  padding: 2px 5px;
  transition: all 0.5s ease-in-out;
}

.logo:hover {
  background-color: silver;
}
.mynav {
  position: fixed;
  background-color: #1e1e1ed4;
  width: 100%;
  display: flex;
  z-index: 5;
}
.nav-items {
  justify-content: space-between;
}
.mynav-link {
  margin-right: 10px;
  margin-left: 10px;
}

.drop:hover {
  background-color: #eae8e8;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #eae8e8;
  color: black;
}

#hero article {
  width: 100%;
  text-align: center;
}

.header-img {
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-img {
  background-image: url("images/mic-darker.jpg");
  height: 600px;
}
.producer-img {
  background-image: url("images/mixer.jpg");
  height: 400px;
}
.composer-img {
  background-image: url("images/composer.jpg");
  height: 400px;
  background-position: bottom;
}

.performer-img {
  background-image: url("images/crowd.jpg");
  height: 400px;
  background-position: bottom;
}

.main-hr {
  height: 4px;
  width: 150px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.col-hr {
  height: 4px;
  width: 100px;
  background-color: #c0c0c0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.jumbo-text {
  max-width: 85%;
}

.section-title {
  margin: 40px auto 20px auto;
  font-size: 2em;
  text-align: center;
}
.quote-card {
  color: black !important;
  margin-top: 80px;
  margin-bottom: 80px;
}

.subtitle {
  font-size: 1.2em;
}
.intro-text {
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.card-col {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-width {
  margin: 10px;
}

.headshot {
  height: 300px;
  width: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.port-item {
  margin: 40px auto 10px auto;
  background-color: gray;
  color: black;
  border-radius: 5px;
  padding: 20px 0px 10px 0px;
}

.port-img {
  height: 100px;
  width: auto;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto 20px auto;
}

.band-img {
  height: auto;
  width: 100%;
  margin: 20px auto;
}
.port-text {
  max-width: 80%;
  font-size: 0.8em;
}

.perf-text {
  margin-top: 40px;
}
.producer-text {
  padding-top: 40px;
}

.text-link {
  text-decoration: none;
  color: orange;
  transition: all 0.3s ease-in-out;
}
.text-link:hover {
  text-decoration: none;
  color: #f7d9b4;
}
.arr-img {
  height: 200px;
  width: auto;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
}

.edu-logo {
  height: 200px;
  width: auto;
  margin: 20px auto;
}
.arr-img:hover {
  opacity: 0.5;
}

.video-container {
  margin: 40px auto;
}

.small-title {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 40px;
}

.comp-list {
  padding-left: 40px;

  list-style: circle;
}
.comp-list li {
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 1em;
}

.comp-btn {
  margin: 40px auto;
  color: silver;
  border-color: silver;
}

.perf-img {
  margin: 40px auto;
  height: auto;
  width: 90%;
}

.edu-img {
  width: 80%;
  height: auto;
}

.port-btns {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}
.port-btns .btn {
  flex: 1 1 100%;
  color: #eae8e8;
}
.port-btns i {
  padding-left: 5px;
}
a.btn.disabled {
  opacity: 0.4;
}

.message {
  display: none;
}

.error-message {
  display: none;
}

.success-text {
  color: white;
  font-size: 1em;
  padding: 10px;
}

.display {
  display: inline-block;
  max-width: 80%;
  background-color: #3da1b9;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.display-error {
  display: inline-block;
  max-width: 80%;
  background-color: #e33761;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}
iframe {
  width: 80%;
  height: auto;
}

.sound {
  margin-top: 40px;
}
.contact-form {
  max-width: 90%;
  margin: 40px auto 80px auto;
}

.footer {
  height: 120px;
  text-align: center;
  background-color: #1e1e1e;
  border-top: 1px solid gray;
  margin-top: 40px;
}

.website-by {
  font-size: 0.7em;
  color: gray;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.website-by a {
  color: silver;
  text-decoration: none;
}
.icon-list {
  list-style: none;
  display: inline-flex;
  margin-top: 20px;
  padding-left: 0;
}
.icon-list li {
  padding-left: 10px;
  padding-right: 10px;
}

.icon-list a {
  color: gray;
  font-size: 2em;
  transition: all 0.5s ease-in-out;
}

.icon-list a:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .port-btns a {
    flex: 1 1 50%;
  }
  .subtitle {
    font-size: 1.7em;
  }
  .main-content {
    max-width: 90%;
  }
  .port-content {
    max-width: 90%;
  }
  .port-item {
    max-width: 330px;
  }
  .port-image {
    height: 135px;
  }
  .contact-form {
    max-width: 70%;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
  .header-img {
    background-attachment: fixed;
  }
  .perf-img {
    width: 300px;
    margin-top: 40px;
  }
  .edu-img {
    width: 60%;
    height: auto;
    margin: 40px auto;
  }
  .edu-logo {
    max-width: 90%;
  }
}
.comp-ul {
  line-height: 2;
}

@media (min-width: 992px) {
  .small-title {
    font-size: 1.5rem;
  }
  .port-btns .btn {
    flex: 1 1 auto;
  }
  .main-content {
    max-width: 75%;
  }
  .port-content {
    max-width: 75%;
    min-height: 350px;
  }

  .ptext {
    margin-top: 30px;
  }
  .perf-img {
    width: 350px;
  }
}
